<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akam.billettogram">

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <user-permission android:name="android.permission.GET_ACCOUNTS" />

    <intent-filter>
        <action android:name="android.intent.action.MEDIA_MOUNTED" />

        <data android:scheme="file" />
    </intent-filter>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Coupon"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.akam.billettogram.MainActivity" />
        </activity>
        <activity
            android:name=".BarcodeScanner"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MineBilletter"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.akam.billettogram.MainActivity" />
        </activity>
        <activity
            android:name=".Billett"
            android:label=""
            android:parentActivityName=".MineBilletter"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.akam.billettogram.MineBilletter" />
        </activity>
        <activity
            android:name=".Forestillinger"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.akam.billettogram.MainActivity" />
        </activity>
        <activity
            android:name=".Forestilling"
            android:label=""
            android:parentActivityName=".Forestillinger"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.akam.billettogram.Forestillinger" />
        </activity>
    </application>

</manifest>
